html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  -webkit-app-region: drag;
}

.MainWindow {
  /* background: url('../../resources/images/bg-closeup2.png') no-repeat center
    center fixed; */
  background: url('./assets/images/hollna-waterfall.png') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Logo {
  width: 40%;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 1;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.Background_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.Settings {
  background-color: #ff8000;
  border: 0;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  padding: 4px 14px;
  z-index: 1;
  letter-spacing: 1px;
  align-self: flex-end;
  margin-top: 12px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.Settings:hover {
  background-color: #f0a62b;
}

button:focus {
  outline: none;
  text-decoration: none;
}

button {
  -webkit-app-region: no-drag;
}

.ExitButton {
  fill: #f0a62b;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 8px;
  margin-top: 10px;
  height: 12px;
  -webkit-app-region: no-drag;
}

.ExitButton:hover {
  fill: red;
}
